* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 100;
}

body {
  background-color: rgb(22, 22, 30);
}

header {
  position: fixed;
  background-color: #000000aa;
  color: white;
  width: 100%;
  z-index: 2;
}

h1 {
  margin: 15px;
  font-size: 2rem;
  letter-spacing: 1rem;
  text-align: center;
}

main {
  position: relative;
  top: 200px;
  width: 100%;
}

nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

nav form {
  margin: 20px;
  grid-area: 2 / 1 / 3 / -1;
  display: flex;
  justify-content: center;
}

form input {
  font-size: 0.8rem;
  padding: 10px;
  background-color: rgb(15, 14, 18);
  color: white;
  width: 400px;
  border-radius: 20px;
}

form button {
  background-color: rgb(15, 14, 18);
  color: white;
  border-radius: 50px;
  padding: 0 40px;
}

#movies {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

#movies li {
  position: relative;
  left: 0;
  top: 0;
  transition: left 300ms ease, top 300ms ease, transform 300ms ease;
}

#movies li:hover {
  transform: rotate(-4deg);
  left: -10px;
  top: -20px;
}
