* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 100;
}

body {
  background-color: rgb(13, 11, 19);
}

header {
  position: fixed;
  background-color: #000000ee;
  color: white;
  width: 100%;
  z-index: 2;
}

h1 {
  margin: 10px;
  font-size: 2rem;
  letter-spacing: 1rem;
  text-align: center;
}

main {
  position: relative;
  top: 300px;
  width: 100%;
}

nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 40px;
  justify-items: center;
}

nav form {
  display: flex;
  justify-content: center;
}

form input {
  font-size: 0.8rem;
  background-color: rgb(15, 14, 18);
  color: white;
}

form button {
  background-color: rgb(15, 14, 18);
  color: white;
}

#movies {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

#movies li {
  position: relative;
  left: 0;
  top: 0;
  transition: left 300ms ease, top 300ms ease, transform 300ms ease;
}

#movies li:hover {
  transform: rotate(-4deg);
  left: -10px;
  top: -20px;
}
